name: Release check

on:
  pull_request:
    branches:
      - main

jobs:
  build-publish:
    name: "Check release docs"
    runs-on: ubuntu-24.04
    if:  startsWith(github.head_ref, 'release-')
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Release version
        shell: bash
        id: release
        run: |
          echo "TAG=v${GITHUB_HEAD_REF:8}" >> "$GITHUB_ENV"

      - name: Install helm docs
        uses: gabe565/setup-helm-docs-action@v1

      - name: Generate docs
        run: make docs
      - name: Check release artifacts
        run: git diff --exit-code

      - name: Install git-chglog
        uses: craicoverflow/install-git-chglog@v1
      - name: Check changelog
        run: |
          git tag ${TAG}
          make release-update
          git diff --exit-code
